@page
@model BooksWebApp.Pages.admin.IndexModel
@{
}
<form method="post"> 
    <input type="text" name="username" placeholder="Login"><br /><br />
<input type="password" name="password" placeholder="password"><br /><br />
<button class="btn btn-primary" type="submit">connect</button>
</form>